[Unit]
Description=Raspberry Pi Health Monitor for XTension
Wants=multi-user.target
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/pimonitor/pimonitor.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
